.todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: pink;

  .task-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
  }
}
