.todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: pink;

  .add-task {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;

    .body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .task-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .task-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;

    .task-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      height: 40px;
      border-bottom: 1px solid #eee;

      .left {
        display: flex;
        align-items: center;

        .checkbox{
          margin-right: 10px;
        }

        .content {
          display: flex;
          flex-direction: column;

          title {
            font-size: 18px;
            font-weight: bold;
          }

          .desc {
            padding: 0;
            margin: 0;
            font-size: 14px;
          }
        }
      }
    }
  }
}
