// .batch-actions {
//   margin-bottom: 16px;

//   .batch-actions-bar {
//     padding: 12px 16px;
//     background: #f0f2f5;
//     border-radius: 8px;
//     display: flex;
//     align-items: center;

//     .selection-info {
//       font-size: 14px;
//       color: #666;

//       strong {
//         color: #1890ff;
//         font-size: 16px;
//       }
//     }
//   }
// }

.batch-section {
  .batch-actions-bar {
    padding: 12px;
    background: #f0f2f5;
    border-radius: 8px;

    .selection-info {
      font-size: 14px;
      color: #666;

      strong {
        color: #1890ff;
        font-size: 16px;
        margin: 0 4px;
      }
    }
  }
}
